.resize-vertical{
  resize: vertical;
}
html {
  height: 100%
}
body {
  font-family:  'Roboto sans-serif', helevitca, arial;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  max-width: 100%;
  height:100%;
}

/*css du header/navbar*/
.container-fluid {
  padding:0;
  min-height: 100%;
}

.navbar{
  height:100%;
  margin: 0 auto;
  display: block;
  padding:15px;
}
.title{
color:#ffffff;
text-align: center; 
padding:10px; 
/*display: block; */
height:auto;
}

/* css du body*/
.title2{
  margin:0 auto;
  padding:10px;
  background-color: #dddddd;
  font-weight: bold;
}

.title3, .title4, .title5, .title6, .title7, .title8{
  margin:0 auto;
  padding: 10px 0 10px 0;
}

.search, .row1{
  margin: 0 auto ;
  padding: 0px;
  display: block;
}

.form-control{
  background-color: #ffffff;
}

.ligne1{
  height:2px;
  background-color: #1e73be;
}
.ligne2{
  height:2px;
  background-color: #e5e5e5;
}
.panel-default{
border:0;
display: block;
margin: auto;
}

.js-new-note{
  margin: 0 15px 0 20px;
}

.panel-body {
  padding-bottom: 10px;
  padding-top: 0;
  margin: 0 auto;  
  min-height: 100%;
  background-color: #dddddd;
}

.btn-primary{
  align-content: center;
  margin: 0 auto;
  background-color: #3a3a3a;
  color:#ffffff;
  font-size: 1.2em;
  height:34px;
  line-height: 20px;
}
.btn1{
  width:120px;
  height:45px;
  margin: 0 auto;
  background-color: #3a3a3a;
  color:#ffffff;
  font-size: 1.2em;
  align-content: center;
  padding: 0;
}

.btn2{
  width:50%;
  margin: 0 auto;
  background-color: #3a3a3a;
  color:#ffffff;
  font-size: 0.95em;
}
.btn3{
  width:50%;
  height: 45px;
}
.ht-ul{
line-height: 25px;
}
.js-edit-courrier {
  color:#000000;
  padding: 5px 0px;
  margin: 0 auto;
  display: block;
}

.list-group-item{
  min-height: 100%;
}
.l2{
  width:10%;
  margin-left: 20px;
}
.l1, .l6{
  width:10%;
}

.l5, .l3, .l4{
  width:15%;
}

.l7{
 width:20%;
}

.l8{
 width:10%;
}

label{
  margin: auto;
  display: block;
  text-align: center;
}

.col-xs-12, .col-xs-1, .col-xs-2, .col-xs-3,  .col-xs-6, .col-xs-9, .col-lg-1, .col-lg-2{
  margin:0 auto;
  display: block;
  padding: 0 5px 0 5px;
}

.zone1{
  font-size: 1.35em;
  text-align: center;
}

.info{
vertical-align: middle;
padding: 10px 15px ;

}
.modal-footer{
  text-align: center;
}

footer {
    width: 100%;
    background-color: #111111;
    padding: 10px 5px ;
    margin: 0 auto;
    color:#ffffff;
    position: fixed;
    bottom: 0;
  }

.hr1{

  border-color: #3a3a3a;
  margin: 0 -15px; 
}


/* CSS declarations go here */
