.resize-vertical{
  resize: vertical;
}
body {
  font-family:  'Roboto sans-serif', helevitca, arial;
  background-attachment: fixed;
}

/*css du header/navbar*/
.container-fluid {
  padding:0;
}

.navbar{
  height:100%;
  margin: 0 auto;
  display: block;
  padding:15px;
}
.title{
color:#ffffff;
text-align: center; 
padding:10px; 
/*display: block; */
height:auto;
}

/* css du body*/
.title2{
  margin:0 auto;
  padding:10px;
  background-color: #dddddd;
  font-weight: bold;
}

.title3{
  margin:0 auto;
  padding: 10px 0 10px 0;
}

.search, .row1{
  margin: 0 auto ;
  padding: 0px;
  display: block;
}

.form-control{
  background-color: #ffffff;
}

.ligne1{
  height:4px;
  background-color: blue;
}
.panel-default{
border:0;
display: block;
margin: auto;
}

.panel-body {
  padding-bottom: 10px;
  padding-top: 0;
  margin: 0 auto;  
  min-height: 100%;
  background-color: #dddddd;
}

.btn-primary{
  align-content: center;
  margin: 0 auto;
  background-color: #3a3a3a;
  color:#ffffff;
  font-size: 1.2em;
  height:34px;
  line-height: 20px;
}
.btn1{
  width:30%;
  width:120px;
  height:45px;
  margin: 0 auto;
  background-color: #3a3a3a;
  color:#ffffff;
  font-size: 1.2em;
  align-content: center;
  padding: 0;
}
.js-edit-courrier {
  color:#000000;
  padding: 5px 0px;
  margin: 0 auto;
  display: block;
}
.table{
  padding: 0px;
  margin:0 auto;
}
.thead{
  font-weight: bold;
  background-color: #dddddd;
}

label{
  margin: auto;
  display: block;
  text-align: center;
}
.modal-footer{
  text-align: center;
}
.hr1{
  border-color: #3a3a3a;
  margin: 0 -15px; 
}


/* CSS declarations go here */
